body {
	background-color: #121212;
}
/* Hide scrollbar because it's ugly */
::-webkit-scrollbar {
    display: none;
}

a:hover {
	text-decoration: none;
}

.fa {
  border-radius: 50%;
  color: white;
}

.fa:hover {
	text-decoration: none;
}

iframe {
	width: 100%;
	height: 85vh;
}

hr {
	border-color: white;
}